* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

:root {
  --btn-color: rgb(254, 16, 186);
  --border-raidus: 10px;
  --primary-color: rgb(242, 241, 243);
  --secondary-color: #2e618b;
  --smooth-trans: 0.5s ease-in;
}

body {
  background-color: #b6fcf1;
  line-height: 1.6;
  color: #2e0505;
  padding: 20px;
}

/* Navbar styling */
ul {
  margin: 0 0 1em 25px;
  list-style: none;
}

#nav-ul {
  width: 50%;
  margin-left: 25%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  background-color: rgb(0, 208, 255);
  border-radius: var(--border-raidus);
  padding: 7px;
}

.nav-item a {
  color: rgb(18, 13, 13);
  list-style-type: none;
  text-decoration: none;
  padding: 15px;
}

.nav-item:hover {
  background-color: #13fe7d;
  border-radius: var(--border-raidus);
  transition: var(--smooth-trans);
}

#slogan {
  color: cadetblue;
  margin-left: 16%;
}

#intro{
  width: 95%;
  background-color: darkturquoise;
  margin-left: 3%;
  margin-top: 2%;
  padding: 12px;
  border-radius: var(--border-raidus);


}
/* quotes section  */

#quotes-selection {
  width: 95% !important;
  border-radius: var(--border-raidus);
  background-color: rgb(156, 191, 243);
  padding: 12px;
  margin: 3%;
}
#quotes-ul {
  display: flex;
  align-content: center;
  justify-content: space-around;
  padding: 7px;
  flex-direction: row;
}

.quote-suggesion {
  color: var(--btn-color);
  padding: 15px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-size: x-large;
}

.quote-suggesion:hover {
  background-color: #83f2f4;
  border-radius: var(--border-raidus);
  transition: var(--smooth-trans);
  transform: scale(1.1);
  color: #0e0c0c;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 1.9em;
  height: 1.9em;
  border: 2px solid #0e0c0c;
  border-radius: var(--border-raidus);
  position: relative;
  cursor: pointer;
  background-color: rgb(243, 244, 246);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  background: #07fc0f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}


#quotes-section{
    width: 95% !important;
    border-radius: var(--border-raidus);
    background-color: rgb(243, 156, 171) !important;
    padding: 12px;
    margin: 3%;
    display: none;
}

#quotes-title{
  text-align: center;
  font-size: x-large;
}