* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

:root {
  --btn-color: rgb(223, 218, 216);
  --border-radius: 10px;
  --primary-color: rgb(242, 241, 243);
  --secondary-color: #2085d8;
  --smooth-trans: 0.7s ease-out;
}

body {
  background-color: #b6fcf1;
  line-height: 1.6;
  color: #2e0505;
  padding: 20px;
}

/* Navbar styling */
ul {
  margin: 0 0 1em 25px;
  list-style: none;
}

#nav-ul {
  border: 3px solid #465aee;
  width: 70%;
  margin-left: 16%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background: linear-gradient(12deg, #ff397e, #0091ff);
  border-radius: var(--border-radius);
  padding: 15px;
}

.nav-item {
  padding: 6px;
  margin-left: 12px;
}

.nav-item a {
  color: rgb(255, 255, 255);
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
}

.nav-item:hover {
  background-color: #030404;
  border-radius: var(--border-radius);
  transition: var(--smooth-trans);
  transform: scale(1.2);
}

.nav-item a:hover {
  color: rgb(247, 241, 241);
}

#slogan {
  color: cadetblue;
  margin-left: 16%;
}

#intro {
  width: 95%;
  background-color: rgb(156, 191, 243);
  margin-left: 3%;
  margin-top: 2%;
  border-radius: var(--border-radius);
  padding: 20px;
  color: #000000;
}

/* quotes section  */

#quotes-selection {
  width: 95% !important;
  border-radius: var(--border-radius);
  background-color: rgb(178, 223, 255);
  padding: 12px;
  margin: 3%;
}

#quotes-ul {
  display: flex;
  align-content: center;
  justify-content: space-around;
  padding: 7px;
  flex-direction: row;
}

.quote-suggesion {
  color: rgb(0, 51, 255);
  padding: 15px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-size: x-large;
  margin-top: 2%;
  border: 4px double rgb(8, 24, 244);
  border-radius: var(--border-radius);
}

.quote-suggesion:hover {
  background-color: #f4eb83;
  border-radius: var(--border-radius);
  transition: var(--smooth-trans);
  transform: scale(1.1);
  color: #0e0c0c;
}

#quotes-section {
  width: 95% !important;
  border-radius: var(--border-radius);
  background-color: darkturquoise;
  padding: 12px;
  margin: 3%;
  display: none;
}

#quotes-title {
  text-align: center;
  font-size: x-large;
}

/* footer  */
#footer {
  border: 2px solid #893559;
  border-radius: var(--border-radius);
  padding: 9px;
  margin: 8px;
  background-image: url("../images/footer.jpg");
  /* background-repeat: no-repeat; */
  background-size: contain;
}

.icons {
  color: var(--secondary-color);
}

#footer {
  color: rgb(0, 217, 255);
}

#foot-ul {
  width: 80%;
  margin-left: 0%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  border-radius: var(--border-radius);
  padding: 12px;
  margin-top: 1%;
}

#copy {
  border-radius: var(--border-radius);
  width: 35%;
  padding: 12px;
  font-weight: bolder;
  background-color: rgb(0, 0, 0);
  margin: 2% 30%;
}

#foot-line {
  width: 78%;
  margin-left: 10%;
  font-weight: 600;
}

#foot-para {
  padding: 12px;
  background-color: rgb(0, 0, 0);
  word-spacing: 12px;
}

#follow {
  background-color: rgb(0, 0, 0);
  font-weight: 800;
  width: 13%;
  padding: 14px;
  text-align: end;
  display: flex;
  margin-left: 4%;
}

#socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide {
  display: none;
}
.show {
  display: block;
}

::-webkit-scrollbar {
  width: 9px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2989f7;
  border-radius: var(--border-radius);
}
